.instilogo {
    height: 50px;
    filter: grayscale(20%);
}

a:hover {
    /* font-weight: 400; */
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    /* color: #444; */
}


.noter {
    font-size: 9pt;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}

.paper {
    border-left: 1px solid #ddd;
}

.menulink:hover {
    color: #111;
}

.profilepic {
    width: 220px;
    border-radius: 30%;
    /* filter: grayscale(100%); */
}

@media (min-width: 768px) {
    .fixed-posi {
        /* width: 50%;
            margin-left: 50%;
            min-height:100%; */
        position: fixed;
    }
}

@media only screen and (max-width: 900px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 90px;
        border-radius: 40%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        /* filter: grayscale(100%); */
    }

    .menur {
        padding-top: 18px !important;
    }

}

.news-item {
    border-left: 1px solid #ddd;
    padding-left: 10px;
    margin-bottom: 15px;
    line-height: 1.6;
}

.news-title {
    font-weight: 400;
    color: #111;
}

.date {
    font-size: 9pt;
    color: #777;
    display: block;
    padding-top: 4px;
}


.service-item {
    border-left: 1px solid #ddd;
    padding-left: 10px;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #111;
}

.conf a {
    color: #007bff;
    text-decoration: none;
}

.conf a:hover {
    text-decoration: underline;
}

.award {
    color: #cc3333;
    font-weight: bold;
}

.footnote {
    font-size: 0.8em;
    color: gray;
    margin-top: 5px;
}

/* GitHub Stars styling */
.github-stars {
    font-size: 0.9em;
    color: #666;
    margin-left: 5px;
    display: none; /* Initially hidden, shown when data loads */
}

.github-stars:hover {
    color: #333;
}

/* .thisauthor {
    color:#111;
    text-decoration: underline;
} */